<header class="app-header">
  <h2 class='app-title'>passwords</h2>
  <button matTooltip="Add Password" [matTooltipPosition]="position.value" mat-mini-fab class='new-password-button' color='blue' (click)="newPassword()">
    <mat-icon>
      add
    </mat-icon>
  </button>
</header>
  <table mat-card matSort mat-table [dataSource]="passwords" class="mat-elevation-z8">
    <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <ng-container matColumnDef="id">
    <th mat-sort-header mat-header-cell *matHeaderCellDef> ID</th>
    <td mat-cell *matCellDef="let element"></td>
  </ng-container>

  <!-- Position Column -->
  <ng-container matColumnDef="website">
      <th mat-sort-header mat-header-cell *matHeaderCellDef> Website</th>
      <td mat-cell *matCellDef="let element"> <a (click)="copyThis(element.website);$event.stopPropagation()">{{element.website}}</a> </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="description">
      <th mat-sort-header mat-header-cell *matHeaderCellDef>Description</th>
      <td mat-cell *matCellDef="let element"><a (click)="copyThis(element.description);$event.stopPropagation()"> {{element.description}}</a> </td>
    </ng-container>

    <ng-container matColumnDef="URL">
      <th mat-sort-header mat-header-cell *matHeaderCellDef> URL </th>
      <td mat-cell *matCellDef="let element"><a (click)="copyThis(element.URL);$event.stopPropagation()"> {{element.URL}} </a></td>
    </ng-container>

    <ng-container matColumnDef="username">
      <th mat-sort-header mat-header-cell *matHeaderCellDef> Username </th>
      <td mat-cell *matCellDef="let element"> <a (click)="copyThis(element.username);$event.stopPropagation()">{{element.username}} </a></td>
    </ng-container>

    <ng-container matColumnDef="password">
        <th mat-sort-header mat-header-cell *matHeaderCellDef> Password </th>
        <td mat-cell *matCellDef="let element"> <a (click)="copyThis(element.password);$event.stopPropagation()">{{element.password}} </a></td>
      </ng-container>

    <tr mat-card-title mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-card-content mat-row *matRowDef="let row; columns: displayedColumns" (click)='editPassword(row)'></tr>

  </table>

