<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
    <mat-form-field class='top-row-field'>
      <input required='true' [(ngModel)]="data.website" matInput placeholder='Website'/>
    </mat-form-field>
    <mat-form-field class='top-row-field'>
        <input required='true' [(ngModel)]="data.description" matInput placeholder='Description'/>
      </mat-form-field>
    <mat-form-field class='top-row-field'>
          <input [(ngModel)]="data.URL"  type='url' matInput placeholder='URL'/>
    </mat-form-field>
    <mat-form-field class='usernamefield'>
        <input required='true' [(ngModel)]="data.username"  matInput placeholder='Username'/>
      </mat-form-field>
      <mat-form-field class='passwordfield'>
          <input required='true' [(ngModel)]='data.password' matInput placeholder='Password'/>
        </mat-form-field>
  <div class='dialog-buttons'>
    <button *ngFor='let button of data.buttons' [ngStyle]="{'background-color': button.color}" (click)='addPassword()' mat-raised-button>{{button.text}}</button>
  </div>
  <div class='warning-message'>{{ message }}</div>
</div>
