.passwordfield,.usernamefield{
width: 100%;
}

.top-row-field{
  width: 33.33333%;
}

.dialog-buttons {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-top: 20px;
}

.warning-message{
  text-align: center;
  padding-top: 20px;
}
